.home-page{
    background-color: #461A42;
}

.logo{
    font-size: 15px;
    float: left;
    line-height: 50px;
    margin-right: 40px;
}
.main-menu a.logo:hover{
    color: black;
}

.menu{
    margin: 0 0 0 0;
    height: 50px;
    position: relative;
}

.menu .main-menu {
    margin: 0 -10px;
    padding: 0;
}

.main-menu__item  {
    display: inline-block;
    padding: 0 0 0 0;
    margin: 0 5px 0 0;
}

.main-menu__arrow {
    display: inline-block;
    margin: 21px 0 0 2px;
    width: 14px;
    height: 8px;
}

.main-menu>li:hover>a {
    background-color: #9c6197;
}

.link-drop-down:hover {
    color: violet;
}

.main-menu>li:hover .sub-menu {
    visibility: initial;
    opacity: unset;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}


.main-menu a.logo:hover{
    color: black;
}
@media screen and (max-width: 1000px) {
    .main-menu{
        overflow: hidden;
        background-color: #461A42;
        position: relative;
        
        
    }
    .main-menu .main-menu__item{
        display: flex;
        flex-direction: row-reverse;
        /* z-index: 999; */
        /* margin-top: -50px; */
        margin-top: 50px
        

        
        
    }
    .main-menu__item{
        margin-top: 50px
    }
    .main-menu{
        z-index: 999;
        
    }
    
    .main-menu .icon .logo{
        color: rgb(56, 9, 9);
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    .main-menu a.icon{
        background: #461A42;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .main-menu a.icon:hover{
        color: rgb(0, 0, 0);
    }
    .main-menu>li:hover .sub-menu {
        visibility: initial;
        opacity: unset;
        -moz-transition: all ease .3s;
        -o-transition: all ease .3s;
        -webkit-transition: all ease .3s;
        transition: all ease .3s;
    }
}

.sub-menu {
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    visibility: hidden;
    /* display: none; */
    z-index: 9999;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    opacity: 0;
    padding: 0 0;
    box-shadow: 4px 5px 5px 0 rgb(0 0 0 / 30%);
    background-color: #9c6197;
    top: 100%;
}


.sub-menu ul {
    margin: 0;
    padding: 0;
}

.sub-menu li {
    margin: 0 30px 0 0;
    padding: 0;
    float: none;
    cursor: pointer;
}

.sub-menu li:hover {
    color: wheat;

}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.main-menu__item a {
    font-size: 14px;
    color: #fff;
    display: block;
    font-weight: 800;
    padding: 0 10px;
    position: relative;
    line-height: 50px;
    height: 50px;
}

.link-drop-down:hover {
    color: violet;
}


.input-group{
    margin-top: 0 !important;
    /* background-color: #461A42; */
    padding: 10px 300px;
    width: 100%;
}

.custom-select{
    margin: 0 20px;
}

.btn-outline-primary{
    box-sizing: border-box;
    background-color: #6b4868;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px !important;
    cursor: pointer;
    padding: 5px 15px;
}

.btn-outline-primary:hover{
    background-color: #ff3d00;
}

.heading{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    padding: 40px 20px;
    font-size: 30px;
    color: black;
}

.table-quiz th {
    width: 150px;
}

.table-quiz{
    width: auto;
    margin: 0 auto;
}

.button-quiz{
    display: flex;
    align-items: center;
    justify-content: center;
}

.create.btn{
    margin-right: 10px;
}

.td1{
    width: 50px;
}

.container-quiz{
    max-width: 90%;
}

.updbtn, .delbtn{
    margin-left: 15px;
}

.quiz-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-top: 40px; */
}

.quiz-form label{
    margin-right: 10px;
}

.quiz-btn{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

